.chat_elem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  padding: 1em;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #192734;
  }

  .chat_elem_content {
    display: flex;
    flex-direction: column;
    color: var(--my-gray);
    flex-grow: 2;
    font-size: 0.9rem;

    .chat_header {
      display: flex;

      .chat_name {
        font-weight: bold;
        margin-right: 5px;
        color: white;
      }
      .chat_date {
        margin-left: auto;
      }
    }
  }
}
