@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-blue: #15202b;
  --light-blue: #1d9bf0;
  --blue-gray: #253341;
  --blue-gray-secondary: #73838f;
  --blue-gray-light: #38444d;
  --blue-gray-dark: #192734;
  --my-gray: #8899a6;
  --chat-secondary: #3d5466;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Montserrat', 'Almarai', sans-serif;
  background-color: var(--dark-blue);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  display: grid;
  min-height: 90vh;
  grid-template-columns: repeat(5, minmax(1fr, 200px));
  grid-template-rows: repeat(12, 60px);

  & > * {
    border: 1px solid var(--blue-gray);
  }
}

.messages_header,
.messages {
  grid-column-start: 1;
  grid-column-end: 3;
}

.person_header,
.chat,
.send_message {
  grid-column-start: 3;
  grid-column-end: 6;
}

.messages,
.chat {
  grid-row-start: 2;
  grid-row-end: 13;
  overflow-y: scroll;
}

.chat {
  grid-row-end: 12;
}

.messages_header,
.person_header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0.6em;
  font-weight: bold;
  font-size: 1.2rem;
}

.settings,
.more {
  margin-left: auto;
}

.icon {
  cursor: pointer;
  padding: 0.4em;
  transform: scale(0.8);
}

.icon:hover {
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--blue-gray);
}

::-webkit-scrollbar-thumb {
  background: var(--light-blue);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #1786cf;
}

@media screen and (max-width: 800px) {
  .App {
    font-size: 14px;
  }

  .messages_header,
  .messages {
    display: none;
  }
}
